{% extends "network/layout.html" %}
{% load static %}

{% block body %}
{% if user.is_authenticated %}
<form action="{% url 'index' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
        <textarea class="form-control" autofocus type="text" id="post_content" name="post_content" placeholder="Type your post."></textarea>
    </div>
    <input class="btn btn-primary" type="submit" value="Create post">
</form>
{{ request.user.id|json_script:"user_id" }}
{{ request.user.username|json_script:"username" }}
{% endif %}


<br><br>
<nav aria-label="...">
    <ul class="pagination">
      <li class="page-item">
        <a id="prev" class="page-link" onclick="load_posts_prev(this)" href="#" tabindex="-1" aria-disabled="true">Previous</a>
      <li class="page-item">
        <a id="next" class="page-link" onclick="load_posts_next(this)" href="#">Next</a>
      </li>
    </ul>
  </nav>
<br><br>


<ul id="posts_div"></ul>
    <!-- {% for post in posts %}
    <hr>
    <li> {{ post.content }} <div><br> By: {{ post.creator }} on {{ post.date }} Likes: {{ post.likes }} </div></li>

    {% empty %}
    <li>No posts yet.</li>

    {% endfor %} -->
<script src="{% static 'network/create_post_following_page.js' %}"></script>
<script>let CSRF_TOKEN = '{{ csrf_token }}';</script>
<script>const init_posts = '{{ posts }}';</script>
<script>const PROFILE_NAME = '{{ profile }}';</script>
<script>const current_username = '{{ request.user.username }}';</script>
{% endblock %}
