{% extends "network/layout.html" %}

{% block body %}
{% if user.is_authenticated %}
<form action="{% url 'index' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
        <textarea class="form-control" autofocus type="text" name="content" placeholder="Type your post."></textarea>
    </div>
    <input class="btn btn-primary" type="submit" value="Create post">
</form>
{% endif %}
<ul>
    {% for post in posts %}
    <hr>
    <li> {{ post.content }} <div><br> By: {{ post.creator }} on {{ post.date }}. Likes: {{ post.likes }} </div></li>

    {% empty %}
    <li>No posts yet.</li>

    {% endfor %}
</ul>
{% endblock %}