{% extends "network/layout.html" %}
{% load static %}

{% block body %}
{% if message %}
    <h1>{{ message }}</h1>
{% endif %}
{% if user.is_authenticated %}
<form action="{% url 'user_profile' profile %}" method="post">
    {% csrf_token %}
    <div class="form-group">
    {% if following %}
    <input class="btn btn-primary" type="submit" value="Unfollow {{ profile }}">
    <input class="btn btn-primary" type="hidden" name="action" value="unfollow">
    {% else %}
    <input class="btn btn-primary" type="submit" value="Follow {{ profile }}">
    <input class="btn btn-primary" type="hidden" name="action" value="follow">
    {% endif %}
    </div>
</form>
{% endif %}
<ul id="following_these_users"></ul>
<ul id="followed_by"></ul>
<ul id="posts_div"></ul>
    <!-- {% for post in posts %}
    <hr>
    <li> {{ post.content }} <div><br> By: {{ post.creator }} on {{ post.date }} Likes: {{ post.likes }} </div></li>

    {% empty %}
    <li>No posts yet.</li>

    {% endfor %} -->
<script src="{% static 'network/profile_functions.js' %}"></script>
<script>const CSRF_TOKEN = '{{ csrf_token }}';</script>
<script>const PROFILE_NAME = '{{ profile }}';</script>
{% endblock %}
